{% extends 'home/shahu_list.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block shahu_list_title %}

{% if profile.nickname %} {{ profile.nickname }}
{% else %} {{ profile.username}}
{% endif %}
{{error_messge}}
{% endblock %}

{% block shahu_list_title2 %}<a href="{% url 'shahu_list' %}"><small>全部>></small></a>{% endblock %}


{% block nav_shahu_data %}

{% if profile.nickname %} {{ profile.nickname }}
{% else %} {{ profile.username}}
{% endif %}
的傻乎

<div class="like" onclick="likeChange(this, '{% get_content_type profile.user %}', {{ profile.user.pk }})" style="float: right">
                                <span class="glyphicon glyphicon-thumbs-up {% get_like_status profile.user %}"></span>
                                <span class="liked-num">{% get_like_count profile.user %}</span>
                                <span>喜欢</span>
                        </div>



                                <span class="glyphicon glyphicon-dashboard label label-default">{{ profile.user.created_time|date:"Y-m-d"}}</span>&emsp;
                                <span class="glyphicon glyphicon-map-marker label label-success">
                                    {%if profile.location%}{{ profile.location}}{%else%}保密{%endif%}</span>&emsp;
                                <span class="label label-warning">留言:{% get_comment_count profile.user %}</span>

{% endblock %}

<!--留言区域-->
{% block nav_shahu_comment %}
                <div class="comment-area">
                    <h3 class="comment-area-title">
                        提交留言给{% if profile.nickname %} {{ profile.nickname }}
                        {% else %} {{ profile.username}}
                        {% endif %}
                    </h3>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">
                            <label>{{ user.get_nickname_or_username }}，欢迎留言~</label>
                            <div id="reply_content_container" style="display:none;">
                                <p id="reply_title">回复：</p>
                                <div id="reply_content"></div>
                            </div>
                            {% csrf_token %}
                            {% get_comment_form profile.user as comment_form %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="留言" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        您尚未登录，登录之后方可评论~
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span> or </span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}
                </div>


                <div class="comment-area">
                    <h3 class="comment-area-title">留言列表</h3>
                    <div id="comment_list">
                        {% get_comment_list profile.user as comments %}
                        {% for comment in comments %}
                            <div id="root_{{ comment.pk }}" class="comment">
                                <span>{{ comment.user.get_nickname_or_username }}</span>
                                <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }})：</span>
                                <div id="comment_{{ comment.pk }}">
                                    {{ comment.text|safe }}
                                </div>
                                <div class="like" onclick="likeChange(this, '{% get_content_type comment %}', {{ comment.pk }})">
                                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}"></span>
                                    <span class="liked-num">{% get_like_count comment %}</span>
                                </div>
                                <a href="javascript:reply({{ comment.pk }});">回复</a>


                                {% for reply in comment.root_comment.all %}
                                    <div class="reply">
                                        <span>{{ reply.user.get_nickname_or_username }}</span>
                                        <span>({{ reply.comment_time|date:"Y-m-d H:i:s" }})</span>
                                        <span>回复</span>
                                        <span>{{ reply.reply_to.get_nickname_or_username }}：</span>
                                        <div id="comment_{{ reply.pk }}">
                                            {{ reply.text|safe }}
                                        </div>
                                        <div class="like" onclick="likeChange(this, '{% get_content_type reply %}', {{ reply.pk }})">
                                            <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}"></span>
                                            <span class="liked-num">{% get_like_count reply %}</span>
                                        </div>
                                        <a href="javascript:reply({{ reply.pk }});">回复</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% empty %}
                            <span id="no_comment">暂无评论</span>
                        {% endfor %}
                    </div>
                </div>




{% endblock %}



{% block nav_shahu_right %}
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            {% if profile.nickname %} {{ profile.nickname }}
            {% else %} {{ profile.username}} {% endif %}

            {% if user.is_authenticated %}
            <form action="{% url 'add_friends' %}?from={{ request.get_full_path }}"
                  method="POST" style="float: right">
                <input type="hidden" name="add_friend_user" value="{{user.profile.pk}}">
                <input type="hidden" name="add_friends" value="{{profile.pk}}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" >添加好友</button>
            </form>
            {% else %}
            <button type="submit" class="btn btn-success" >登录后添加好友</button>
            {% endif %}


        </div>
    </div>
    <dl class="dl-horizontal">
      <dt>昵称：</dt><dd>{{profile.nickname}}</dd>
        <dt>地址：</dt><dd>{{profile.location}}</dd>
        <dt>性别：</dt><dd>{{profile.get_sexo}}</dd>
    </dl>

    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">个人介绍:</div>
            <div class="panel-body">
                    <div style='word-break: break-all; word-wrap:break-word;'>
                    <p>{% if profile.person_content %}
                        {{ profile.person_content|safe}}<p>
                        {% else %}
                    <p>暂无签名。。。</p>
                    {%endif%}
                </div>
            </div>
     </div>

    <div class="panel panel-default" style="margin-top: 20px">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-star"></span>
                          {{profile.nickname}}的关注
                          <span class="label label-success">{{friends_list_len}}</span>
                          <hr/>
                            <ul>
                                {% for friend in friends_list %}
                                <li style="width: auto">
                                    <a href="{% url 'search_profile' friend.friends.user.pk %}">
                                    {% if friend.friends.nickname %} {{ friend.friends.nickname }}
                                    {% else %} {{ friends.friend.username}}{% endif %}</a>

                                    {% if user.is_authenticated %}
                                    <form action="{% url 'add_friends' %}?from={{ request.get_full_path }}"
                                      method="POST" style="float: right;font-size: 60%">
                                        <input type="hidden" name="add_friend_user" value="{{user.profile.pk}}">
                                          <input type="hidden" name="add_friends" value="{{friend.friends.pk}}">
                                        {% csrf_token %}
                                        <button type="submit" >添加好友</button>
                                    </form>
                                    {% else %}
                                    <button type="submit" >登录后添加好友</button>
                                    {% endif %}



                                </li>
                                {% empty %}
                                  <p>暂无，好友</p>
                                {% endfor %}
                            </ul>
                    </div>
                </div>

    <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-heart"></span>
                          {{profile.nickname}}的粉丝
                          <span class="label label-success">{{fans_list_len}}</span>
                          <hr/>
                            <ul>
                                {% for fan in fans_list %}
                                <li><a href="{% url 'search_profile' fan.fans.user.pk %}">
                                        {% if fan.fans.nickname %} {{ fan.fans.nickname }}
                                    {% else %} {{ fan.fans.username}}{% endif %}
                                </a>

                                    {% if user.is_authenticated %}
                                     <form action="{% url 'add_friends' %}?from={{ request.get_full_path }}"
                                      method="POST" style="float: right;font-size: 60%">
                                        <input type="hidden" name="add_friend_user" value="{{user.profile.pk}}">
                                          <input type="hidden" name="add_friends" value="{{fan.fans.pk}}">
                                        {% csrf_token %}
                                        <button type="submit" >添加好友</button>
                                    </form>
                                    {% else %}
                                    <button type="submit" >登录后添加好友</button>
                                    {% endif %}
                                    
                                    </li>
                                {% empty %}
                                  <p>暂无，粉丝</p>
                                {% endfor %}
                            </ul>
                    </div>
                </div>


</div>


{% block nav_preofile_liuyan %}
<script type="text/javascript">
        String.prototype.format = function(){
            var str = this;
            for (var i = 0; i < arguments.length; i++) {
                var str = str.replace(new RegExp('\\{' + i + '\\}', 'g'), arguments[i])
            };
            return str;
        }
        function reply(reply_comment_id){
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();
            //点击评论滚动到文本款
            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }
        function numFormat(num){
            return ('00' + num).substr(-2);
        }
        function timeFormat(timestamp){
            var datetime = new Date(timestamp * 1000);
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth() + 1);
            var day = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            var second = numFormat(datetime.getSeconds());
            return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }
        $("#comment_form").submit(function(){
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }

            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            // 异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        if($('#reply_comment_id').val()=='0'){
                            // 插入评论
                            var comment_html = '<div id="root_{0}" class="comment">' +
                                '<span>{1}</span>' +
                                '<span>({2})：</span>' +
                                '<div id="comment_{0}">{3}</div>' +
                                '<div class="like" onclick="likeChange(this, \'{4}\', {0})">' +
                                    '<span class="glyphicon glyphicon-thumbs-up"></span> ' +
                                    '<span class="liked-num">0</span>' +
                                '</div>' +
                                '<a href="javascript:reply({0});">回复</a>' +
                                '</div>';
                            comment_html = comment_html.format(data['pk'], data['username'], timeFormat(data['comment_time']), data['text'], data['content_type']);
                            $("#comment_list").prepend(comment_html);
                        }else{
                            // 插入回复
                            var reply_html = '<div class="reply">' +
                                        '<span>{1}</span>' +
                                        '<span>({2})</span>' +
                                        '<span>回复</span>' +
                                        '<span>{3}：</span>' +
                                        '<div id="comment_{0}">{4}</div>' +
                                        '<div class="like" onclick="likeChange(this, \'{5}\', {0})">' +
                                            '<span class="glyphicon glyphicon-thumbs-up\"></span> ' +
                                            '<span class="liked-num">0</span>' +
                                        '</div>' +
                                        '<a href="javascript:reply({0});">回复</a>' +
                                    '</div>';
                            reply_html = reply_html.format(data['pk'], data['username'], timeFormat(data['comment_time']), data['reply_to'], data['text'], data['content_type']);
                            $("#root_" + data['root_pk']).append(reply_html);
                        }

                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();
                        $("#comment_error").text('评论成功');
                    }else{
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
        function likeChange(obj, content_type, object_id){
            var is_like = obj.getElementsByClassName('active').length == 0
            $.ajax({
                url: "{% url 'like_change' %}",
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like
                },
                cache: false,
                success: function(data){
                    console.log(data)
                    if(data['status']=='SUCCESS'){
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){
                            element.addClass('active');
                        }else{
                            element.removeClass('active');
                        }
                        // 更新点赞数量
                        var liked_num = $(obj.getElementsByClassName('liked-num'));
                        liked_num.text(data['liked_num']);
                    }else{
                        if(data['code']==400){
                            $('#login_modal').modal('show');
                        }else{
                            alert(data['message']);
                        }
                    }
                },
                error: function(xhr){
                    console.log(xhr)
                }
            });
        }
    </script>
{% endblock %}



{%endblock%}



