{% extends 'base_user.html' %}



{% block user_order %}
    <div>
    <h3>全部订单</h3>
    {% for order in order_page %}
        <ul>
        <li>创建时间{{ order.creatr_time }}订单号{{ order.order_id }}{{ order.status_name }}</li>
         {% for order_sku in order.order_skus %}
        <ul>具体商品
            <li>名字{{ order_sku.sku.name }}小计{{ order_sku.amount }}数量{{ order_sku.count }}</li>
        </ul>
             <td>总金额(含运费){{ order.total_price|add:order.transit_price }}</td>
             <td>待付款---{{ order.status_name }}</td>
             <button>去付款</button>
        {% endfor %}
        </ul>
    {% endfor %}
    </div>


<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
        {% if order_page.has_previous %}
      <a href="{% url 'user:order' order_page.previous_page_number %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
        {% endif %}
    </li>
  {% for pindex in pages %}
        <li>
            {% if pindex == order_page.number %}
                <a href="{% url 'user:order' pindex %}" class="active">
            {% else %}
                <a href="{% url 'user:order' pindex %}" class="">
            {% endif %}
      {{ pindex }}</a></li>
    {% endfor %}
    <li>
        {% if order_page.has_next %}
      <a href="{% url 'user:order' order_page.next_page_number %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
        {% endif %}
    </li>
  </ul>
</nav>


{% endblock %}